.listening {
    position: absolute;
    width: 91px;
    height: 32px;
    left: 50%;
    /* top: 37px; */

    font-family: 'Kalam';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    
    color: #F3CAD2;
}